<section>
    <div class="row align-items-center">
        <div class="col-md-6">
            <div>
                <img class="w-100" src="./assets/images/Sign in-pana.svg" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="text-center border-bottom border-black mb-5 rounded-circle">
                    <i class="fa fa-user fa-2x bg-main"></i>
                    <h1 class="h3">{{'login.title' | translate}}</h1>
                </div>
                <form (ngSubmit)="loginFunction()" [formGroup]="loginForm" class="example-form">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>{{"login.label.email" | translate}}</mat-label>
                        <input title="email" #emailInput formControlName="email" type="email" matInput placeholder=" ">
                    </mat-form-field>
                    <div *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || emailInput.value.length >0 )">
                        <p class="alert alert-danger" *ngIf="(loginForm.get('email')?.getError('email') )">{{"validation.email.email" | translate}}</p>
                        <p class="alert alert-danger" *ngIf="(loginForm.get('email')?.errors?.['required'] )">{{"validation.email.required" | translate}}</p>
                    </div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>{{"login.label.password" | translate}}</mat-label>
                        <input title="password" #passInput formControlName="password" type="email" matInput placeholder=" ">
                    </mat-form-field>
                    <div *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.touched || passInput.value.length >0 )">
                        <p class="alert alert-danger" *ngIf="(loginForm.get('password')?.errors?.['required'] )">{{"validation.pass.required" | translate}}</p>
                    </div>
                    <div>
                        <button [disabled]="loginForm.invalid" type="submit" class="bg-main w-100"><span *ngIf="!isLoading">{{"login.title" | translate}}</span> <i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i></button>
                    </div>
                    <p *ngIf="errMsg" class="alert alert-danger mt-1 text-center text-capitalize">{{errMsg}}</p>
                </form>
            </div>
        </div>
    </div>
</section>